body {
    background-color: rgb(237, 225, 209);
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
    text-align: center;
}

#container {
    max-width: 600px;
    margin: auto;
}

div {
    /* text-align: right;
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 1%;
    background-position-y: 2%; */
    padding: 10px;
}

#select_lang {
    margin: 20px 0;
}

#dict {
    border-radius: 8px;
    width: 90px;
    height: 35px;
    text-align: center;
    background-color: antiquewhite;
    box-shadow: 2px 2px 5px rgb(160, 157, 133);
    border-color: rgb(148, 146, 146);
}

#space {
    padding: 16px;
}

#content {
    padding: 10px;
}

#content .search_border {
    padding: 0 10px 10px 0;
    background: linear-gradient(to bottom, #f9f9f9, #f2f2f2);
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    display: inline-block;
}

#content .input_wrapper {
    display: block;
    margin: 10px 0;
}

#content .search_border #word{
    background-color: #f2f2f2;
    color: #333;
    border: 1px solid #d5d5d5;
    height: 50px;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.15);
    outline: none;
    width: calc(100% - 20px);
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    margin: 0 auto;
    padding: 0 10px;
}

/* #content .search_border #bt_clear {
    background: url(clear_bt.png) 0 0 no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    outline: none;
    float: right;
    position: relative;
    margin: -34px 21% 0 0;
} */

#content .submit_wrapper {
    margin: 10px 0;
}

#content .search_border #bt_submit {
    background: #54b2d2;
    display: inline-block;
    text-decoration: none;
    outline: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    margin: 0 100px 100px 0;
    border-radius: 6px;
}

@media (max-width:768px) {
    #container {
        width: 100%;
        padding: 0 10%;
    }

    #dict {
        width: 100%;
        height: 45px;
    }

    #content .search_border {
        width: 100%; /* Make the search border full width */
        padding: 10px;
    }

    #content .search_border #word {
        width: calc(100% - 20px); /* Ensure input field takes full width minus padding */
    }

    #content .submit_wrapper {
        text-align: center; /* Center the submit button */
    }

    #content .search_border #bt_submit {
        width: 100%; /* Make the submit button full width */
        padding: 10px 0;
    }
}