body {
    background-color: rgb(237, 225, 209);
}

div {
    text-align: right;
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 1%;
    background-position-y: 2%;
    padding: 10px;
}

#dict {
    border-radius: 8px;
    width: 90px;
    height: 35px;
    text-align: center;
    background-color: antiquewhite;
    box-shadow: 2px 2px 5px rgb(160, 157, 133);
    border-color: rgb(148, 146, 146);
}

#space {
    padding: 16px;
}

#content {
    padding: 10px;
}

#content .search_border {
    padding: 0 10px 10px 0;
    background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#f9f9f9), to(#f2f2f2)) !important;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 99;
    text-align: center;
}

#content .input_wrapper {
    display: block;
}

#content .search_border #word{
    background-color: #f2f2f2;
    color: #333;
    border: 1px solid #d5d5d5;
    height: 50px;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.15);
    outline: none;
    width: 95%;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    margin: 0 auto;
    padding: 0 2%;
}

/* #content .search_border #bt_clear {
    background: url(clear_bt.png) 0 0 no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    outline: none;
    float: right;
    position: relative;
    margin: -34px 21% 0 0;
} */

#content .submit_wrapper {
    width: 20px;
    float: right;
    margin: -66px 19% 0 0;
}

#content .search_border #bt_submit {
    background: #54b2d2;
    display: block;
    text-decoration: none;
    outline: none;
    color: white;
    font-weight: bold;
    padding: 8px 150px 8px 130px;
    margin: 0 100px 100px 0;
    position: relative;
    z-index: 99999;
    border-radius: 6px;
}